@import "../../../styles/settings.scss";

aside {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top left,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top left,
    rgba(0, 78, 146, 0.5),
    rgba(0, 4, 40, 0.5)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);

  color: rgba(255, 255, 255, 0.6);

  width: 240px;

  position: fixed;
  top: 60px;
  height: calc(100vh - 90px);
}

@media (max-width: 992px) {
  aside {
    position: unset;
    width: 100%;

    .sidebar {
      width: 60%;
      margin: 0 auto;
      // border: 1px solid black;
      // background: black;
    }
  }
}
