@import "../../../styles/settings.scss";

aside {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  width: 240px;

  position: fixed;
  top: 60px;
  height: calc(100vh - 90px);
}

@media (max-width: 992px) {
  aside {
    position: unset;
    width: 100%;

    .sidebar {
      width: 60%;
      margin: 0 auto;
      // border: 1px solid black;
      // background: black;
    }
  }
}
