@import "../../../styles/settings.scss";

footer {
  width: 100vw;
  color: white;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;

  .filterIsOn {
    display: none;
  }
  .footer {
    height: 30px;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1280px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p span {
      margin: 4px;
    }

    .filterToggle {
      display: none;
    }

    .contactShort {
      display: flex;

      i {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .filterIsOn {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background: rgba(26, 26, 26, 0.9);
      position: absolute;
      width: 100%;
      bottom: 30px;
      display: flex;
      flex-direction: column;
    }
    .footer {
      height: 30px;
      // padding: 0 10px;
      margin: 0 auto;
      max-width: 1280px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      p span {
        display: none;
      }

      .filterToggle {
        display: flex;
        cursor: pointer;
        background: none;
        color: white;
        border: none;
        outline: none;

        &:active {
          text-shadow: 0 0 2px white;
        }

        &:disabled {
          color: rgba(255, 255, 255, 0.2);
        }
      }
      .contactShort {
        display: flex;

        i {
          margin-left: 10px;
        }
      }
    }
  }
}
