.bgdImg {
  // position: fixed;
  position: absolute;
  // height: 200px;
  width: 90%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  // height: 400px;
  opacity: 0.4;
}

@media (max-width: 992px) {
  .bgdImg {
    display: none;
  }
}
