@import "../../../styles/settings.scss";

.bgdImg {
  position: fixed;
  height: 140px;
  bottom: 7%;
  left: 0%;
  animation: movingDown 15s linear infinite;

  filter: blur(3px);
}

@keyframes movingDown {
  from {
    transform: translateX(-30vw);
  }
  to {
    transform: translateX(100vw);
  }
}
