@import "../../../styles/settings.scss";

section {
  .moduleTitle {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.4s;

    &:hover {
      letter-spacing: 1px;
    }
  }

  .filtrRow {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $fontLightColor;

    .radioGroup {
      justify-content: space-between;
      width: 100%;
      display: flex;
      position: relative;
      &.fullList {
        p {
          font-weight: bold;
          letter-spacing: 2px;
          font-size: 20px;
        }
      }

      p {
        display: flex;
        z-index: 10;
        align-items: center;
        height: 24px;
      }
      .radio {
        width: 10%;

        input {
          display: none;
        }

        .newInput {
          position: absolute;
          width: 24px;
          height: 24px;
          border: 2px solid $fontLighterColor;
          cursor: pointer;

          &::after {
            content: "";
            width: 12px;
            height: 12px;
            background: $fontLighterColor;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
          }
        }

        input[type="radio"]:checked ~ .newInput::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
}
