@import "../../../styles/settings.scss";

.navItem {
  width: 100%;

  list-style: none;

  .radio {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px dotter red;

    .radioInput {
      display: flex;
      justify-content: center;
      align-self: center;

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:focus + .radioControl {
          box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em red;
        }
      }
    }

    .radioControl {
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      border: 0.1em solid red;
      transform: translateY(-0.05em);
    }

    .radioLabel {
      line-height: 1;
      transition: 180ms all ease-in-out;
      opacity: 0.8;
      border: 1px dotter red;
      display: flex;
      justify-content: center;
      align-self: center;
      margin-left: 10px;
    }

    &:focus-within {
      .radioLabel {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }

  .radioBefore {
    .radioControl {
      display: grid;
      place-items: center;
    }

    input + .radioControl::before {
      content: "";
      width: 0.5em;
      height: 0.5em;
      box-shadow: inset 0.5em 0.5em red;
      border-radius: 50%;
      transition: 180ms transform ease-in-out;
      transform: scale(0);
    }

    input:checked + .radioControl::before {
      transform: scale(1);
    }
  }
}
