@import "../../../styles/settings.scss";

.bookContentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .bookContent {
    width: 90%;
    height: 90%;
    border-radius: 20px;

    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right bottom,
      #004e92,
      #000428
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right bottom,
      rgba(0, 78, 146, 0.5),
      rgba(0, 4, 40, 0.5)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.2);
  }
}

.bookContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $fontLighterColor;
  padding: 10px;
  letter-spacing: 2px;
  text-align: center;

  .bookTitle {
    letter-spacing: 4px;
    padding: 0 14px;

    font-size: 40px;
    color: $fontLightColor;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
  }
  .bookAuthor {
    font-size: 26px;
  }
  .pageWrapper {
    display: flex;
    width: 80%;

    align-items: center;
    h4 {
      width: 50%;
      padding: 10px 4px;
      span {
        margin-left: 10px;
        letter-spacing: 4px;
        color: $fontLightColor;
      }
    }
  }
  .lcLink {
    padding: 14px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
    text-decoration: none;
    p {
      color: $fontLightColor;
      margin-bottom: 10px;
    }

    &:after {
      width: 30px;
      height: 130%;
      position: absolute;
      left: -80px;
      top: -15px;
      content: "";
      background-color: rgba(255, 255, 255, 0.3);
      transform: rotate(20deg);
      transition: transform 0.4s;
    }
    &:hover {
      p {
        color: #fff;
      }
      &:after {
        transform: translateX(420px) rotate(20deg);
      }
    }
  }

  .wrapperOnList {
    display: flex;

    .listCheck {
      height: 50px;
      width: 146px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.1);

      &.trueCheck {
        color: $fontLightColor;
        text-shadow: 0 0 4px $fontLightColor;
        font-weight: bold;
      }
    }
  }

  .bottomWrapper {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    position: relative;

    .myInfoWrapper {
      height: 60px;
      width: 160px;
      display: flex;
      justify-content: space-between;

      .readedImg,
      .availableImg {
        height: 100%;
        opacity: 0.05;

        &.true {
          opacity: 0.8;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .bookContent {
    .wrapperOnList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 992px) {
  .bookContentWrapper {
    height: calc(100vh - 90px);
  }
}

@media (max-width: 500px) {
  .bookContentWrapper {
    .bookContent {
      width: 94%;
      height: 95%;
    }
  }

  .bookContent {
    .bookTitle {
      padding: 0 10px;
      font-size: 28px;
    }
    .bookAuthor {
      font-size: 20px;
    }
    .pageWrapper {
      width: 100%;
      font-size: 14px;
    }
    .lcLink {
      border-radius: 10px;
      p {
        font-size: 14px;
      }

      img {
        width: 60%;
      }
    }

    .wrapperOnList {
      .listCheck {
        height: 36px;
        width: 130px;
        font-size: 12px;
      }
    }

    .bottomWrapper {
      width: 100%;
    }
  }
}
