@import "../../../styles/settings.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  flex-direction: column;
  color: $fontLightColor;

  .label {
    padding: 10px 0;

    &:last-of-type {
      color: $fontLighterColor;
    }
  }

  input,
  textarea {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
  }

  input[type="mail"] {
    background-color: $fontLighterColor;

    &:focus {
      background-color: #fff;
    }
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;

    button {
      background: #000428; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to left bottom,
        #004e92,
        #000428
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to left bottom,
        rgba(0, 78, 146, 0.5),
        rgba(0, 4, 40, 0.5)
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);

      color: $fontLightColor;
      padding: 6px;
      border: none;
      border-radius: 10px;
      overflow: hidden;

      height: 50px;
      width: 120px;

      cursor: pointer;
      position: relative;

      &:after {
        width: 30px;
        height: 140%;
        position: absolute;
        left: -40px;
        top: -10px;
        content: "";
        background-color: rgba(255, 255, 255, 0.3);
        transform: rotate(20deg);
        transition: transform 0.4s;
      }
      &:hover:after {
        transform: translateX(200px) rotate(20deg);
      }
    }
  }
}

@media (max-width: 767px) {
  .form {
    width: 100%;

    input,
    textarea {
      width: 80%;
    }
  }
}
