@import "../../../styles/settings.scss";

.navItem {
  width: 100%;
  list-style: none;
  // border: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.3);

  img {
    width: 75%;
  }
}
