@import "../../../styles/settings.scss";

header {
  width: 100vw;
  color: $fontLightColor;

  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    rgba(0, 78, 146, 0.5),
    rgba(0, 4, 40, 0.5)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.2);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;

  .header {
    height: 60px;
    margin: 0 auto;
    max-width: 1280px;

    display: flex;

    .logoWrapper {
      height: 100%;
      width: 240px;
      font-family: $logo-font;
      color: $fontLightColor;
      text-decoration: none;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      cursor: pointer;

      p {
        transition: all ease 0.4s;
        span {
          text-shadow: 0 0 4px $fontLightColor, 0 0 14px $fontLightColor,
            0 0 20px $fontLightColor;
          color: #fff;
          padding: 0 4px;
        }
      }

      &:hover {
        p {
          color: #fff;
        }
      }
    }

    .navWrapper {
      display: flex;
      flex: 1;
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 992px) {
  header {
    .header {
      height: 60px;
      margin: 0 auto;
      max-width: 1280px;

      display: flex;

      .logoWrapper {
      }

      .navWrapper {
        flex-direction: column;
        width: 70%;
        justify-content: space-evenly;

        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

        position: absolute;
        top: 60px;
        background-color: black;

        background: #000428; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #004e92,
          #000428
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          rgba(0, 78, 146, 0.8),
          rgba(0, 4, 40, 0.8)
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        height: calc(100vh - 90px);
        z-index: 10000;

        &.active {
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 10000;
        }
      }
    }
  }
}
