@import "../../../styles/settings.scss";

header {
  width: 100vw;
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;

  .header {
    height: 60px;
    margin: 0 auto;
    max-width: 1280px;

    display: flex;

    .logoWrapper {
      height: 100%;
      width: 240px;
      font-family: $logo-font;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      p {
        span {
          color: red;
        }
      }
    }

    .navWrapper {
      display: flex;
      flex: 1;
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 992px) {
  header {
    .header {
      height: 60px;
      margin: 0 auto;
      max-width: 1280px;

      display: flex;

      .logoWrapper {
      }

      .navWrapper {
        flex-direction: column;
        width: 70%;
        justify-content: space-evenly;

        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

        position: absolute;
        top: 60px;
        background-color: black;
        height: calc(100vh - 90px);
        z-index: 10000;

        &.active {
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 10000;
        }
      }
    }
  }
}
