@import "../../../styles/settings.scss";

.bookList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // position: absolute;
  // position: relative;
  width: 100%;
  // overflow: hidden;
}
