@import "./settings.scss";
@import "./typography.scss";
@import "./normalize.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /* light */
  // background: #56ccf2; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to left,
  //   #2f80ed,
  //   #56ccf2
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to left,
  //   #2f80ed,
  //   #56ccf2
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* dark*/
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  // margin-top: 60px;
  margin-left: 240px;
  min-height: calc(100vh - 90px);
  width: 100%;
}

@media (max-width: 992px) {
  main {
    // margin-top: 60px;
    margin-left: 0;
  }
}

.contentContainer {
  // border: 1px dashed red;
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 60px;
  margin-bottom: 30px;

  display: flex;
  min-height: calc(100vh - 90px);
}

@media (max-width: 992px) {
  .contentContainer {
    flex-direction: column-reverse;
  }
}
