/* colors */
$blueColor: rgb(24, 28, 233);
$lightColor: rgb(164, 192, 211);
$darkColor: rgb(27, 27, 27);

/* fonts */
$logo-font: "Raleway", sans-serif;
$font-family: "Poppins", sans-serif;

/* others */
